.q1{
    background-color: #420C5D;
    padding-top: 20px;
}
.bi{
    color: #DDDDDD;
    padding: 7px;
    border-radius: 50%;
    background-color: black;
}
.navbar-brand{
    color: #DDDDDD;
    font-weight: 900;
    font-size: 30px;
    margin-left: 23px;
}
.nav-link{
    color: #DDDDDD;
    font-weight: 700;
    font-size: 20px;
    margin-left: 30px;
}
.btn{
    color: #DDDDDD;
    font-weight: 700;
    padding: 10px 35px;
    border: 2px solid #7300FF;
    background-color: black;
}
.navbar-nav{
    margin-left: 50px;
}
.q2{
    color: #DDDDDD;
    font-weight: 700;
    font-size: 54px;
    margin-top: 80px;
}
.q3{
    padding: 15px;
    background-color: #3C1771;
    border: 1px solid #7B6498;
}